:root{
    --primary-color: #fbf9fa;
    --secondary-color: #fd0054;
    --third-color: #a80038;
    --fourth-color: #2b2024;
    background: var(--primary-color);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header h1{
    margin-left: 50px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headers{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink{
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    color: var(--third-color);
    transition: 0.2s;
}

.navlink-home{
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    color: var(--third-color);
    font-size: 20px;
    transition: 0.2s;
}

.far-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink:hover{
    color: var(--secondary-color);
    scale: 1.2;
    transition: 0.2s;
}

.navlink-home:hover{
    color: var(--secondary-color);
    scale: 1.4;
    transition: 0.2s;
}

.card {
    background: var(--fourth-color);
    color: var(--primary-color);
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 300px;
    margin: 20px;
}

.card:hover{
    scale: 1.1;
    box-shadow: 0 0 20px 0 var(--secondary-color);
    transition: 0.2s;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-header h3{
    font-size: 25px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif
}

.card-header h4{
    font-size: 20px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
}

.profile-link{
    text-decoration: none;
    transition: 0.2s;
}

.profile-link:hover, .card-header h4:hover{
    letter-spacing: 6px;
    transition: 0.2s;
}

.card-links a{
    color: var(--secondary-color);
    font-size: 40px;
    transition: 0.2s;
    margin: 0px 20px 0px 20px;
}

.card-links a:hover{
    color: var(--primary-color);
    scale: 1.2;
    transition: 0.2s;
}

.divy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
